extends ~@/layout
block title
  title

block content

  - const data = require('./data.js')
  - const css = require('./_css.json')

  div(id='hops-pg' class=css.hopsPg)

    +hero(css.hopsPgHero)

    +form-card(css.hopsPgFormCard)

    +gallery(css.hopsPgGallery)

    +price(css.hopsPgPrice)

    +form-card(css.hopsPgFormCard)

    +gallery(css.hopsPgGallery)

    +contacts(css.hopsPgContacts)

    +footer

    script(type='text/javascript').
      ymaps.ready(() => {
        const myMap = new ymaps.Map('YMapsID', {
          center: [55.980674, 37.171244],
          zoom: 17
        });

        const placemark = new ymaps.Placemark([55.980674, 37.171244], {}, 
        {
          iconLayout: 'default#image',
          iconImageHref: 'src/views/components/contacts/img/placemark.png',
          iconImageSize: [40, 40],
        });

        myMap.geoObjects.add(placemark)
      });