.index-pg {
  min-height: 100vh;
  padding: 0 24px;
  background: #22201e;
  background-size: contain;

  @include flex;
}

.bg {
  position: relative;
  width: 100%;
  max-width: 800px;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

  > * {
    width: 50%;
  }
}

.left,
.right {
  opacity: 0.2;
  transition: background 200ms;
  &:hover {
    background: lighten($color: #a89479, $amount: 20%);
  }
}

// Global styles

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
  .container {
    flex-direction: column;

    > * {
      width: 100%;
      height: 50%;
    }
  }
}

// Mixes

// Animation
