include ~@/components/contacts/contacts
include ~@/components/footer/footer
include ~@/components/form-card/form-card
include ~@/components/gallery/gallery
include ~@/components/header/header
include ~@/components/hero/hero
include ~@/components/price/price
